*.tmp
src/ontology/planp-base.owl
*.tmp.obo
*.tmp.owl
*~
src/ontology/mirror
src/ontology/mirror/*
src/ontology/planp.obo
src/ontology/planp.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/ed_definitions_merged.owl
src/ontology/dosdp-tools.log
src/ontology/planp.csv
src/ontology/patterns
*.DS_Store
src/ontology/planp-full.json
src/ontology/planp-full.obo
src/ontology/planp-full.owl
src/ontology/planp-simple.json
src/ontology/planp-simple.obo
src/ontology/planp-simple.owl
src/ontology/reports/planp-edit.owl-obo-report.tsv
src/ontology/simple_seed.txt
src/ontology/merged-planp-edit.owl
